[submodule "derivatives/dwi/sub-I58/sub-I58_dwi_space-dwi_desc-rms_dwi.nii.zarr"]
	path = derivatives/dwi/sub-I58/sub-I58_dwi_space-dwi_desc-rms_dwi.nii.zarr
	url = https://github.com/dandizarrs/2cae90ba-cfc5-4500-9f10-adf9533413ee
	datalad-id = 81610c18-444d-415f-a49c-804e887a7445
[submodule "derivatives/dwi/sub-I58/sub-I58_dwi_space-dwi_desc-preproc_dwi.nii.zarr"]
	path = derivatives/dwi/sub-I58/sub-I58_dwi_space-dwi_desc-preproc_dwi.nii.zarr
	url = https://github.com/dandizarrs/4bdb98bb-bb2a-471f-983f-12e22fa4753a
	datalad-id = b22d5d1a-595d-455f-9c70-024135d1ca2d
